<footer>
    <p>Made by {{name}}</p>
    <a class="footer_github" href="https://github.com/Binotto/weather-app"><i class="fa fa-github"></i> Github</a>
    </a>
    </br>
    <a class="footer_linkedin" href="https://www.linkedin.com/in/matheus-binotto-a51787143/">
        <i class="fa fa-linkedin"></i> My Linkedin
    </a>
</footer>